// 全局样式 - 只放通用class

/* 所有UI组件 */
*[class*="UI-"]{
  /* outline: 1px solid red !important; */
  outline-color: red;
}
/* 所有UI组件-子元素 */
*[class*="UI-"] *[class*="ui-"]{
  /* outline: 1px solid blue !important; */
  outline-color: blue;
}
/* 所有UI组件-所有子元素 */
*[class*="UI-"] *{
  /* outline: 1px solid green !important; */
  outline-color: green;
}

// 公共组件-空行空格
._ph{
  height: rpx(10)
}
._ph-2x{
  height: rpx(20)
}
._ph-4x{
  height: rpx(40)
}
._ph-6x{
  height: rpx(60)
}
._it{
  display: inline-block
  width: rpx(10)
}
._it-2x{
  display: inline-block
  width: rpx(20)
}
._it-4x{
  display: inline-block
  width: rpx(30)
}